@CHARSET "UTF-8";
article {
	padding-top: 2.57em;
}
.breadcrumb {
    padding-left: 1em;
}
.category-header-img {
	position: relative;
}
.category-header-img .category-desc {
    max-height: 1.259em;
    overflow: hidden;
}
.category-header-img .title {
    position: absolute;
    color: white;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 1em 1em 1em;
    background-color: rgba(0, 60, 114, 0.8);
}
.category-header-img .title h3, .category-header-img .title p.category-desc {
	margin: 0;
}
.category-header-img .title p.category-desc {
	text-align: center;
}
.category-header-img .title .category-desc a {
    color: white;
    text-decoration: underline;
}
.category-header-img .title .category-desc a:hover {
    color: #08c;
}
.products-list>div.row-fluid {
    margin-bottom: 1em;
    border-bottom: 1px solid #ddd;
}
.products-list .product-tile {
    position: relative;
    margin-bottom: 1.5em;
}
.products-container .product-tile .intro-img-container {
    min-height: 80px;
}
.product-tile .img-link {
    display: block;
}
.product-tile .img-link:hover {
	text-decoration: none;
}
.product-tile .img-link:hover > .product-details .title {
	color: darkred;
}
.product-details {
    padding-top: 0.5em;
    color: #000;
}
.product-details .title {
	color: red;
	text-decoration: underline;
}
.product-tile {
    overflow: hidden;
}
.loading .progress .bar {
    width: 100%;
}
.filters-list {
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}
.filters-list #sort-options {
    width: 100%;
}
.filters-list .accordion-group .accordion-heading h5 {
    margin: 0;
}
.filters-list .accordion-heading a.btn {
    display: block;
    text-align: left;
}
.filters-list .accordion-body > ul > li {
    width: 45%;
    float: left;
}
.filters-list h4 {
	padding: 0 0.75em;
}
.filters-list .accordion-body, .filters-list .sort-options-container {
    padding: 0 1em;
}
.filters-list .accordion-body.in {
    padding: 0 1em 1em;
}
.filters-list .accordion-group {
	border: initial;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
.filters-list label.disabled {
    text-decoration: line-through;
    cursor: not-allowed;
}
.pagination-limit {
    margin-top: 6px;
    margin-right: 1em;
}

@media (max-width: 1061px) {
	.category-filter {
		font-size: 11px;
	}
}

@media (max-width: 767px) {
	section.filters {
		margin-bottom: 5px;
	}
	.category-header-img .title {
		padding-bottom: 0;
	}

	.category-header-img .title h3 {
		line-height: 20px;
		font-size: 90%;
	}
	.products-list .product-tile {
		border-bottom: 1px solid #ddd;
		padding-bottom: 5px;
	}
	.products-list>div.row-fluid, .products-list .row-fluid:last-child .product-tile:last-child {
		border-bottom: none;
	}
	.products-list>div.row-fluid, .products-list .row-fluid:last-child > ul {
		margin-bottom: 0;
	}
	.products-list .row-fluid:last-child {
		border-bottom: 1px solid #ddd;
	}
	.pagination {
		font-size: 90%;
	}
	.pagination .pagination-prev, .pagination .pagination-next, .pagination-limit {
		display: none;
	}
}
/*** iPhone 5 and less: ***/
@media only screen and (min-device-width: 319px) and (max-device-width: 321px) {
	.pagination ul>li>a, .pagination ul>li>span { padding: 3px 9.2812px; }
}
/*** iPhone 6: ***/
@media only screen and (min-device-width: 374px) and (max-device-width: 376px) {
	.pagination ul>li>a, .pagination ul>li>span { padding: 4px 12px; }
}
/*** iPhone 6 Plus: ***/
@media only screen and (min-device-width: 413px) and (max-device-width: 415px) {
	article, .pagination {
	    font-size: inherit;
	}
}