@CHARSET "UTF-8";

#orders .dataTables_paginate > ul > li {
    display: none;
}
#orders .dataTables_paginate li.prev,
#orders .dataTables_paginate li.next {
    display: inline;
}
#salesOrderList td {
    cursor: pointer;
}