@CHARSET "UTF-8";

.contact-category h5 { margin-top: 0; }

.contact-category legend {
    font-size: 14px;
    font-weight: bold;
    line-height: 30px;
}

.contact-category label > em, .contact-category .red-text { color: red; }

.contact-category .contact-type { margin-bottom: 10px; }

.contact-category .radio.inline { margin-left: 10px; }

/**
* Remove to show menus/links on contact pages
**/
.lang-nav, .main-nav, #search-form, .tag-line, .breadcrumb, .footer-navigation {
    display: none;
}