header {
	margin-top: 1em;
	margin-bottom: 1em;
}

article {
	position: relative;
	padding-bottom: 1em;
}

footer {
	background: #CCC;
	text-align: center;
	padding: 10px 0;
}

article > hr {
	border: 2px solid #00AADD;
	margin: 0 0 10px;
}

article > hr.thin {
	margin: 0 0 10px;
	border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0, 170, 221, 1), rgba(0,0,0,0));
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0, 170, 221, 1), rgba(0,0,0,0));
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0, 170, 221, 1), rgba(0,0,0,0));
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0, 170, 221, 1), rgba(0,0,0,0));
}

.breadcrumb { margin: 0 0 10px; }

.breadcrumb .active { color: #000; }

.home { background-color: #09C; }

.home .carousel { margin-top: -15px; }

.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
	background-color: #00AADD;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	color: #FFFFFF;
	text-shadow: none;
}

.footer-navigation .menu {
	margin-bottom: 0;
}

/*** Product Category List Styles ***/

.category-list h2 { margin: 0 0 10px 7px; }

.category-list .navbar-inner {
	overflow-y: auto;
	overflow-x: hidden;
}

.category-list .navbar-inner > div { padding: 1em 0; }

.category-list .navbar .nav {
	height: 160px;
	margin: 0;
}

.category-list .navbar .nav > li { height: 100%; }

.category-list .navbar .nav > li > a {
	height: 130px;
	padding: 15px;
}

.category-list .navbar .nav > li > a:hover { color: #005580; }

.category-item {
	border-right: 1px solid #CCC;
	width: 220px;
	margin-right: 5px;
}

.category-item.last {
	border-right: none;
	margin-right: 0;
	width: 225px;
}

.category-item .photo { margin-top: 3px; }

.category-item .photo > img { width: 190px; }

.category-item .title {
	margin: 5px 0 0;
	text-align: center;
}

/*** Category & Products Styles ***/

.category-title { margin-left: 0.75em; }

.filters { margin-left: 10px; }

.filters-list { margin-top: 0.5em; }

.filters-list > .accordion-group { background-color: #f5f5f5; }

.filters-list > .accordion-group .category-filter { width: 89%; }

.filters-list > .accordion-group > .accordion-heading { text-align: center; }

.filters-list > .accordion-group > .accordion-heading h5 { margin: 0; }

.filters-list > .accordion-group > .accordion-body { padding: 0 3em; }

.filters-list > .accordion-group > .accordion-body.in { border-top: 1px solid #eeeeee; }

.products-list > ul.nav-tabs, .ipop .support-info-block > ul.nav-tabs { margin-bottom: -1px; }

.products-list > div.well, .ipop .support-info-block > div.well {
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
	-webkit-border-top-right-radius: 0px;
	-webkit-border-top-left-radius: 0px;
	-moz-border-top-right-radius: 0px;
	-moz-border-top-left-radius: 0px;
}

.products > ul > li {
	display: inline-block;
	border-bottom: 1px solid #00AADD;
	padding: 1em 0;
}

.products > ul > li.last { border-bottom: none; }

.products .pagination-limit {
	margin-top: 15px;
	margin-right: 10px;
}

.products .pagination-limit select { margin-bottom: 4px; }

.products .img-link {
	display: block;
	text-align: center;
	margin: 10px 0;
}

.ipop .title {
	color: #999999;
	margin: 10px 20px;
	text-shadow: -1px 0px 0px rgba(0, 0, 0, 0.5);
}

.ipop .warranty-info {
	position: absolute;
	top: 11px;
	right: 10px;
	text-align: right;
	text-shadow: 0 1px 0 #ffffff;
}

.ipop .support-info-block .overview > table {
	border-top: 1px solid #00AADD;
	margin-top: 10px;
}

.ipop .support-info-block .overview > table > caption { font-weight: bold; }

.ipop .support-info-block .accessories h5 { margin-top: 0; }

.ipop .support-info-block .accessories > li {
	border-bottom: 1px solid #00AADD;
	margin: 10px 0;
	padding-bottom: 10px;
}

.ipop .support-info-block .accessories > li:first-child { margin-top: 0; }
.ipop .support-info-block .accessories > li.last { border-bottom: none; }

.ipop .support-info-block .accessories > li > .accessory-info { margin-bottom: 5px; }

.ipop .support-info-block .accessories > li > .accessory-info a.fancybox {
	display: block;
	text-align: center;
}

.ipop .support-info-block .accessories > li > .accessory-desc > ul { list-style-type: disc; }

.ipop .photos-block {
	text-align: center;
	margin-right: 20px;
}

.ipop .photos-block > p { margin-top: 10px; }

.ipop .photos-block .photo-gallery {
	overflow-x: hidden;
	display: block;
	padding: 4px;
	line-height: 20px;
	border: 1px solid #ddd;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
	border-radius: 4px;
		-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
		-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
		-webkit-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.ipop .photos-block .slide-show {
	width: 1520px; /** width of four slides wide **/
}

.ipop .photos-block .slide-show .slide {
	width: 380px;
	float: left;
	position: relative;
}

.ipop .photos-block .slide-show .slide > a { display: block; }

.ipop .photos-block .slide-show .slide > span.magnifier {
	position: absolute;
	background: url("/images/magnifier.png") no-repeat;
	right: 10px;
	bottom: 0;
	width: 64px;
	height: 64px;
	z-index: 10;
	cursor: pointer;
}

.ipop .photos-block .slide-menu {
	border-top: 1px solid #ddd;
	padding-top: 1em;
}

.ipop .photos-block .slide-menu .menu-item {
	border-right: 1px solid #CCC;
	cursor: pointer;
}

.ipop .photos-block .slide-menu .menu-item.last { border-right: none; }

.ipop .photos-block .slide-menu .menu-item > a { display: block; }

.products .product-details p { margin-top: 5px; }

/*** Services page ***/
.services h3, .services h4 { text-align: center; }

/*** Downloads page ***/
.downloads tr td+td { width: 13%; }

.downloads tr td+td+td { width: 18%; }

/*** General Styles ***/

.showcase > div > div.well { min-height: 200px; }

.btn-primary { background-image: none; }

.hidden { display: none; }

.inverse { color: white; }

.inverse .well { color: #333333; }

.lang-nav { margin-bottom: 1em; }

.main-nav { margin-bottom: 0.6em; }

.logo-container { margin-left: 30px; }

.main-navigation { margin-bottom: 0; }

.tag-line { margin: -16px 0 0 35px; }

.text-center { text-align: center; }

.table td p { margin: 0; }