@CHARSET "UTF-8";
article form, .guest-login {
	position: relative;
}
.guest-login {
    padding-right: 14%;
}
article form {
    padding-left: 35%;
    padding-right: 11%;
}
input[type="text"], input[type="password"] {
    margin-bottom: 0;
}
article form p.span6 {
    line-height: 15px;
}