@CHARSET "UTF-8";
.hide {
	display: none;
}
.warranty-note {
    margin-bottom: 0;
}
.links-title {
    margin-left: 14%;
}
.support-title {
	margin-left: 17%;
}

#supportModalLabel {
    color: #036;
}

#docsoft > section {
    margin-bottom: 2em;
}

#docsoft > section.documentation, #docsoft > section.software {
    border-bottom: 1px solid #ddd;
    padding-bottom: 1em;
}
#docsoft section div[class^='ion-']:before, .support .pull-left div[class^='ion-']:before {
    font-size: 600%;
}
.support .pull-left .ion-link {
    transform: rotate(-45deg);
}
#docsoft section div[class^='ion-'] {
    padding: 0 1.25em;
}
#docsoft > section div.ion-document-text {
    padding: 0 2.07em;
}
#docsoft section > div.pull-left {
    padding: 0 0.75em;
}
#docsoft section.software > div.pull-left {
    padding: 0 1em;
}
#docsoft > section p[class*='-title'] {
    text-align: center;
}

@media (min-width: 400px) {
	body .modal {
		/* new custom width */
		width: 80%;
		/* must be half of the width, minus scrollbar on the left (30px) */
		margin-left: -40%;
	}
	.modal-body {
		max-height: 90%;
	}
}