* :focus { outline: 0; }
header,nav,article,footer,section,aside,figure,figcaption {
  display:block
}
#billboardContainer {
  width: 975px;
  padding-left: 5px;
  padding-right: 0px;
}
#modules {
  width: 975px;
  padding-left: 5px;
}
#navigation {
  margin-top: -2px;
}

ul.categories li {
  padding-bottom: 2px;
}
.contact-us .form .contact-form ul {
	margin-left: 1em;
	margin-bottom: 1em;
}
.rightPane .loadWait {
  top: 3.2em;
  height: 86.5%;
  width: 99.2%;
}
.elemctr{
  display: inline-table;
  margin-right: auto;
  margin-left: auto;
}
.dl_col2 ul { /* mod to create hanging indent */
  margin-left: 1em;
  padding-left: 0;
  text-indent: -1.2em;
}
.leftPane .ui-accordion {
  width: 100.7%;
}
.shortDesc p{
	line-height: 1.2;
}
