@CHARSET "UTF-8";
body {
	padding: 0;
	-webkit-font-smoothing: antialiased;
}
header {
	background-color: #94949a;
	position: relative;
}

article {
	position: relative;
	padding-bottom: 1em;
	padding-top: 2.25em;
}

footer {
	position: relative;
	padding: 0 0 10px 0;
}

footer > hr {
	border: 1px solid #990033;
	margin: 5px 0;
}

article > hr.thin, hr.thin {
	margin: 0 0 10px;
	border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0, 170, 221, 1), rgba(0,0,0,0));
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0, 170, 221, 1), rgba(0,0,0,0));
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0, 170, 221, 1), rgba(0,0,0,0));
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0, 170, 221, 1), rgba(0,0,0,0));
}

.home article {
	padding-top: 0;
}


.home .carousel-caption {
	text-align: right;
	background: #eb1e25;
	background: rgba(235, 30, 37, 0.85);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
}

.home .carousel-caption h2 {
    font-weight: normal;
    margin-bottom: 0px;
    color: #fff;
}

.home .carousel p {
    font-size: 18px;
}

.home .marketing > div {
	position: relative;
	margin-bottom: 0.5em;
}

.home .marketing > div > a {
    display: block;
}

.home .marketing > div > a:hover {
    text-decoration: none;
    color: white;
}

.home .marketing .opacity {
    position: absolute;
    background-color: #fff;
    top: 0;
    bottom: -1px;
    left: 0;
    right: 0;
    background-color: rgba(255,255,255,0.4);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
}

.home .marketing .opacity.active {
	background-color: transparent;
}

.home .feature-caption {
	background-color: #000000;
	background-color: rgba(0,0,0,0.9);
	padding: 0 10px;
}

.home .feature-caption h3 {
	color: white;
	font-weight: 400;
	margin: 0;
}

.breadcrumb {
	top: 0;
	left: 0;
	right: 0;
	position: absolute;
	margin: 0;
	background-color: transparent;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	padding-left: 20px;
}

.breadcrumb .active { color: #000; }

.breadcrumb .disabled-link, .breadcrumb .disabled-link:hover {
    color: #999;
    text-decoration: none;
    cursor: not-allowed;
}

.alt-languages ul {
    margin-bottom: 0;
}

.footer-logos > a {
	display: block;
}

.footer-logos > .metrel-logo {
    margin-left: 1em;
}

.reach-statement {
	text-align: center;
	margin-top: 20px;
}
.footer-navigation > .container-fluid {
	padding-right: 0;
}

.footer-navigation .menu {
	font-size: 85%;
}

.footer-navigation .nav-pills>li>a {
	background-color: transparent;
	padding: 0 1em;
}
.footer-navigation .nav-pills>.active>a {
    color: #08c;
    text-decoration: underline;
}
.footer-navigation .nav-pills>li>a:hover, .footer-navigation .nav-pills>li>a:focus {
	text-decoration: underline;
	background-color: initial;
}

.navbar .brand {
	padding: 0px;
	margin-left: -1.5em;
	margin-top: 10px;
	border: 1px solid white;
}

#navigation {
	text-transform: uppercase;
	margin-bottom: 0;
}

header .container-fluid {
	padding-right: 10px;
}

#navigation .mobile-menu-item {
	display: none;
}

#navigation .navbar-inner {
	padding-right: 0;
	padding-bottom: 10px;
}

#navigation .menu.nav {
    font-size: 22.5px;
    font-weight: 400;
}

#navigation .menu .popover {
    top: 73.5% !important;
    font-size: 80%;
    text-transform: initial;
    background-color: #fff;
    max-width: none;
}

#navigation .menu .popover li>a {
    color: #08c;
}
#navigation .menu .popover li>a:hover,
#navigation .menu .popover li.active>a {
    text-decoration: none;
    color: #fff;
}

#navigation .menu .popover .arrow:after {
    border-bottom-color: #fff;
}

#navigation .menu .popover .popover-content {
    padding: 0;
}

#navigation .menu .popover .popover-content>ul {
    padding: 6px 0;
    margin-left: -1px;
    margin-right: -1px;
}

#navigation .menu .popover .popover-content>ul>li {
    clear:both;
    overflow:hidden;
}

#navigation .menu li ul>li i[class^="menu-"] {
	background-image: url("/media/com_bkcontent/images/prods-icons-sprite-combo.png");
    display: inline-block;
    float: left;
    margin-top: 8px;
    margin-right: 3px;
    margin-left: 8px;
    line-height: 14px;
    vertical-align: text-top;
    background-position: 0px 0px;
    width: 0;
    height: 0;
}

#navigation .menu li ul>li i.menu-component-testers {
	background-position: 39px -186px;
	width: 37px;
	height: 35px;
	margin-top: 0;
}

#navigation .menu li ul>li i.menu-counters {
	background-position: 39px -268px;
	width: 37px;
	height: 19px;
}

#navigation .menu li ul>li i.menu-dc-electronic-loads {
	background-position: 39px -121px;
	width: 37px;
	height: 19px;
}

#navigation .menu li ul>li i.menu-device-programmers {
	background-position: 39px -302px;
	width: 37px;
	height: 26px;
	margin-top: 5px;
}

#navigation .menu li ul>li i.menu-electrical-battery-testers {
	background-position: 39px -334px;
	width: 37px;
	height: 35px;
}

#navigation .menu li ul>li i.menu-power-supplies {
    background-position: 39px -9px;
	width: 37px;
	height: 19px;
}

#navigation .menu li ul>li i.menu-environmental-testers {
	background-position: 39px -371px;
	width: 37px;
	height: 35px;
	margin-top: 0;
}

#navigation .menu li ul>li i.menu-multimeters {
	background-position: 39px -158px;
	width: 37px;
	height: 19px;
}

#navigation .menu li ul>li i.menu-oscilloscopes {
	background-position: 39px -84px;
	width: 37px;
	height: 19px;
}

#navigation .menu li ul>li i.menu-rf-test-instruments {
	background-position: 39px -224px;
	width: 37px;
	height: 35px;
	margin-top: 1px;
}

#navigation .menu li ul>li i.menu-signal-generators {
	background-position: 39px -47px;
	width: 37px;
	height: 19px;
}

#navigation .menu li ul>li i.menu-video-cable {
	background-position: 39px -411px;
	width: 37px;
	height: 30px;
	margin-top: 3px;
}

#navigation .menu li ul>li i.menu-accessories {
	background-position: 39px -448px;
	width: 37px;
	height: 32px;
	margin-top: 3px;
}

#navigation .menu .popover .popover-content>ul>li>a {
	display: block;
    padding: 8px;
}

#navigation .menu .popover .popover-content>ul>li:hover > a,
#navigation .menu .popover .popover-content>ul>li.active > a {
    background-color: black;
}
#navigation .menu .popover .popover-content>ul>li:hover > i[class^="menu-"],
#navigation .menu .popover .popover-content>ul>li.active > i[class^="menu-"] {
	background-position-x: 0px;
}
#navigation .menu li ul>li i[class^="menu-"]:hover {
	cursor: pointer;
}

#navigation .nav-collapse.collapse {
	background-color: #111;
	background-image: linear-gradient(to bottom, #111, #111);
	padding-right: 1em;
    padding-bottom: 0.15em;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    margin-top: -1px;
}

.navbar-inverse .navbar-inner {
	position: relative;
	background-image: none;
	background-color: #94949a;
	border-color: transparent;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	-webkit-border-top-left-radius: 0;
	-webkit-border-top-right-radius: 0;
	-moz-border-top-left-radius: 0;
	-moz-border-top-right-radius: 0;
	filter: progid:DXImageTransform.Microsoft.gradient.enabled=false;
}

.navbar .nav > li > a {
	padding: 15px 15px 15px;
}

/*** Google Custom Search Style ***/
#search-form, #search-results { text-transform: none; }

#search-form { margin-top: 10px; }

#search-form .icon-search {
	position: absolute;
	top: 0.5em;
	left: 0.5em;
	display: none;
}

#search-input {
	margin: 0;
	padding: 0.375em 0 0 1.75em;
	vertical-align: bottom;
	line-height: 8px;
	display: none;
}

#search-input::-ms-clear {
    display: none;
}

#search-clear {
	position: absolute;
	top: 0.35em;
	right: 0.5em;
	margin: 0;
}

#search-form .search-ajax {
    position: absolute;
    right: 0.68em;
    top: 0.55em;
}

#search-results .gsc-expansionArea .gsc-cursor-box.gs-bidi-start-align,
#search-results .gsc-search-button,
#search-results .gsc-clear-button,
#search-results .gs-watermark,
#search-results .gsc-url-bottom  { display: none; }

#search-results .results-total {
	margin: 0 0 10px 0;
	text-align: right;
	border-bottom: 1px solid #990033;
}
#search-results li {
    border-bottom: 1px solid #d4d4d4;
    margin-top: 5px;
    padding-bottom: 5px;
    font-size: 90%;
}

#search-results li.first { margin-top: 0; }

#search-results li.last {
	border-bottom: none;
	padding-bottom: 0;
}
#search-results .results-list > li > a {
	display: block;
}
#search-results .results-list > li > a:hover {
    text-decoration: none;
}

#search-results .ext-results {
    text-align: center;
    font-size: 1.25em;
    border-top: 1px solid #ddd;
    padding-top: 8px;
}
#search-results .ext-results > a {
    color: black;
}

#search-results .gs-fileFormatType { color: #e3232b; }

#search-results {
    position: absolute;
    z-index: 10;
    *zoom: 1;
    background-color: white;
    padding: 10px;
    border: 1px solid #d4d4d4;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.165);
       -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.165);
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.165);
    right: 1.45%;
	top: 72%;
}

/*** Services page ***/
.services h3, .services h4 { text-align: center; }

/*** Downloads page ***/
.downloads tr td+td { width: 13%; }

.downloads tr td+td+td { width: 18%; }

/*** International page ***/
.distribution .filter-box {
    position: absolute;
    top: 65px;
    right: 0;
}

/*** Bootstrap Additions ***/
ul.inline>li.first {
    padding-left: 0;
    padding-right: 0;
}

/* Sidenav for Docs
-------------------------------------------------- */

.bk-docs-sidenav {
  width: 228px;
  margin: 8px 0 0;
  padding: 0;
  background-color: #fff;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
     -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
          box-shadow: 0 1px 4px rgba(0,0,0,.065);
}
.bk-docs-sidenav > li > a {
  display: block;
  width: 190px \9;
  margin: 0 0 -1px;
  padding: 8px 14px;
  border: 1px solid #e5e5e5;
}
.bk-docs-sidenav > li:first-child > a {
  -webkit-border-radius: 6px 6px 0 0;
     -moz-border-radius: 6px 6px 0 0;
          border-radius: 6px 6px 0 0;
}
.bk-docs-sidenav > li:last-child > a {
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
}
.bk-docs-sidenav > .active > a {
  position: relative;
  z-index: 2;
  padding: 9px 15px;
  border: 0;
  text-shadow: 0 1px 0 rgba(0,0,0,.15);
  -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
     -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
          box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
}

table.new-products td {
  text-align: center;
  vertical-align: middle;
}

/* Chevrons */
.bk-docs-sidenav .icon-chevron-right {
  float: right;
  margin-top: 2px;
  margin-right: -6px;
  opacity: .25;
}
.bk-docs-sidenav > li > a:hover {
  background-color: #f5f5f5;
}
.bk-docs-sidenav a:hover .icon-chevron-right {
  opacity: .5;
}
.bk-docs-sidenav .active .icon-chevron-right,
.bk-docs-sidenav .active a:hover .icon-chevron-right {
  background-image: url(../img/glyphicons-halflings-white.png);
  opacity: 1;
}
.bk-docs-sidenav.affix-bottom {
  position: absolute;
  top: auto;
  bottom: 270px;
}

.hide { display: none; }

.phone-number {
	margin-top: 10px;
	display: inline-block;
}
.phone-number > li {
	font-size: 1.5em;
	padding-top: 15px;
	font-weight: bold;
	list-style-type: none;
	color: #000;
}


/*** General Styles

.about .nav-list { padding-left: 0; }

.about .nav-list .icon-chevron-right { float: right; }

.about #elditest address { text-align: right; }

.showcase > div > div.well { min-height: 200px; }

.btn-primary { background-image: none; }

.hidden { display: none; }

.inverse { color: white; }

.inverse .well { color: #333333; }

.lang-nav { margin-bottom: 1em; }

.main-nav { margin-bottom: 0.6em; }

.logo-container { margin-left: 30px; }

.main-navigation { margin-bottom: 0; }

.tag-line { margin: -16px 0 0 35px; }

.text-center { text-align: center; }

.table td p { margin: 0; }***/

@media only screen
	and (min-device-width: 768px)
	and (max-device-width: 1024px)  {

	#navigation .menu.nav {
    	font-size: 15px;
	}
	.home .feature-caption h3 {
		font-size: 15px;
	}

	#navigation .mobile-menu-item {
		display: block;
	}
	#navigation .desktop-menu-item {
		display: none;
	}

}

@media (max-width: 979px) {
	#navigation .mobile-menu-item {
		display: block;
	}
	#navigation .desktop-menu-item {
		display: none;
	}
	#navigation .nav-collapse.collapse {
		margin: 0 -15px;
		float: none;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}

	#navigation .nav-collapse.collapse {
		padding-right: 0;
		padding-bottom: 0;
		width: 100%;
	}

	#navigation .mobile-search {
	    color: #999;
	    display: block!important;
	    padding: 5px 15px 10px;
	    font-weight: bold;
	}
	.nav-collapse .nav {
	    margin-bottom: 0;
	}
	.navbar .brand {
	    padding: 25px 10px 20px 10px;
	}
	.navbar .btn-navbar {
		margin-bottom: 0.5em;
		position: absolute;
		right: 10px;
		top: 15px;
	}

	#search-form .icon-search {
		top: 1.35em;
		left: 1.5em;
	}

	.navbar .brand {
		margin: 0 0 0 -20px;
	}
	
	.navbar .phone-number{
		font-weight: bold;
		color: #000;
		float: right;
	}

	.navbar .nav > li > a {
		padding: 10px 15px 10px;
	}

	.nav-collapse .nav>li>a {
		margin-bottom: 0;
	}

	.navbar .brand > img {
		max-width: 85% !important;
	}

	.home .carousel-caption {
	    padding: 5px 10px;
	}
	.home .carousel-caption h2 {
	    margin: 0;
	    font-size: 1.1em;
	    line-height: 20px;
	}
	.home .carousel p {
	    font-size: 0.75em;
	    font-weight: bold;
	}

	.home .carousel-custom-wrapper {
		margin-top: -2px;
	}

	footer { text-align: center; }
	footer .row-fluid p.span4 { margin-left: 0; }

	.footer-navigation { float: right; }

	.footer-navigation .menu {
		float: none;
	}
	.footer-navigation .nav-pills {
		display: inline-block;
	}

	.footer-navigation .nav-pills>li>a {
		padding: 0 0.5em;
	}
}

@media (max-width: 767px) {
	#navigation .mobile-menu-item {
		display: block;
	}
	#navigation .desktop-menu-item {
		display: none;
	}
	header > div.container-fluid {
	    padding-left: 20px;
	}
	.home .marketing h3 {
		font-size: 18.5px;
	}
	article.container-fluid {
    	padding: 5px 20px 1em 20px;
	}
	.footer-navigation {
		float: none;
		padding: 0 20px;
	}
}

@media (max-width: 1259px) {
	#navigation .menu.nav {
		font-size: 18.5px;
	}
}

@media (max-width: 1111px) {
	#navigation .menu.nav {
		font-size: 16.5px;
		font-weight: bolder;
	}
}

@media (max-width: 1061px) {
	#navigation .menu.nav {
		font-size: 14.5px;
	}
	article {
	    font-size: 80%;
	}
	div.title > h4 {
	    font-size: 13.5px;
	    margin: 5px 0;
	}
}

@media (max-width: 1084px) {
	.home .marketing h3 {
		font-size: 20.5px;
	}
}

@media (max-width: 1048px) {
	#navigation .menu.nav {
		font-size: 12.5px;
		font-weight: bolder;
	}
}

@media (max-width: 964px) {
	.home .marketing h3 {
		font-size: 16.5px;
	}
}
