@CHARSET "UTF-8";
.wtb-results {
    font-size: 90%;
}
.wtb-search .controls {
    position: relative;
}
.wtb-search #wtb-clear {
    position: absolute;
    right: 5px;
    top: 7px;
}
.wtb-search .wtb-search-ajax {
    position: absolute;
    top: 8px;
    right: 5px;
}
.wtb-results h6 {
    margin: 0 0 0 5px;
    text-decoration: underline;
}
.wtb-results > li > table {
    margin: 0;
}
.wtb-results > li > .table th, .wtb-results > li > .table td {
    padding: 5px;
}
.wtb-results > li > p {
    text-align: right;
    margin: 0 0 7px;
}
.wtb-results > li {
    border-bottom: 1px solid #369;
    margin-bottom: 8px;
}
#naDistys .table th, #naDistys .table td {
    text-align: center;
}
#naDistys .table td > p {
	margin-top: 10px;
}
#naDistys .table tr:first-child td {
    border: none;
}
#naDistys .table {
    margin-top: -10px;
}