@CHARSET "UTF-8";
input#query {
    width: 94.45299145299145%;
}
button#btnQuery {
    margin-left: -0.5%;
    -webkit-border-radius: 0 4px 4px 0;
	-moz-border-radius: 0 4px 4px 0;
	border-radius: 0 4px 4px 0;
}

#enterSearchTerm {
	margin: 50px auto 60px;
	font-weight: bold;
	font-size: 1.2em;
	text-align: center;
}

#xhrLoading {
    margin: 33px auto 35px;
    text-align: center;
}

#xhrLoading .ajax-loader.ion-loading-d {
    font-size: 3em;
}
#results .pagination {
    margin-bottom: 0;
}
#resultsCount {
    margin: -10px 0 0;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}
#results > ul > li {
    padding: 20px 0;
    margin-left: 5px;
    border-bottom: 1px solid #ddd;
}
#results a.title {
    line-height: 2em;
    font-size: 1.25em;
    font-weight: 500;
    color: black;
}
#results .desc {
    color: #777;
    margin-bottom: 5px;
}

@media (max-width: 1259px) {
	input#query {
	    width: 94.09%;
	}
}

@media (max-width: 1048px) {
	button#btnQuery {
		font-size: 12px;
	}
}

@media (max-width: 979px) {
	input#query {
	    width: 94.65%;
	}
	button#btnQuery {
		padding-left: 9px;
		font-size: 11px;
	}
}

@media (max-width: 767px) {
	input#query {
	    width: 100%;
	}
	button#btnQuery {
		padding-left: 12px;
		font-size: 14px;
		margin-left: 0;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
	}
}