@CHARSET "UTF-8";

#photos-block {
	margin-left: 2.564102564102564%;
}

#support-info-block {
	margin-left: 0;
}

h3.series {
    margin-bottom: -0.25em;
}
h2.description {
    margin: 0;
}
h1.model {
    margin: 0;
    color: #003366;
}
.warranty-info {
    margin-top: 0;
    display: inline-block;
}
.replacements .img-polaroid {
    text-align: center;
}
.wtb-results {
    font-size: 90%;
}
.wtb-results h6 {
    margin: 0 0 0 5px;
    text-decoration: underline;
}
.wtb-results > li > table {
    margin: 0;
}
.wtb-results > li > .table th, .wtb-results > li > .table td {
    padding: 5px;
}
.wtb-results > li > p {
    text-align: right;
    margin: 0 0 7px;
}
.wtb-results .more-results {
	margin: 0;
	text-align: center;
}
.wtb-results > li {
    border-bottom: 1px solid #369;
    margin-bottom: 8px;
}
.wtb-results > li:last-child {
    border-bottom: none;
    margin-bottom: 0;
}
#docsoft > section {
    margin-bottom: 2em;
}

#docsoft > section.documentation {
    border-bottom: 1px solid #ddd;
    padding-bottom: 1em;
}
#docsoft section div[class^='ion-']:before {
    font-size: 500%;
}
#docsoft section div[class^='ion-'] {
    padding: 0 1.25em;
}
#docsoft > section div.ion-document-text {
    padding: 0 2.07em;
}
#docsoft section > div.pull-left {
    padding: 0 2em;
}
#docsoft section.software > div.pull-left {
    padding: 0 2.25em;
}
#docsoft > section p[class*='-title'] {
    text-align: center;
}
.accessory-img-container {
	text-align: center;
}
.accessory-info .accessory-title {
    margin-bottom: 0;
}
.accessory-model {
    margin: 0;
}
.accessory-desc p {
    margin: 0;
}
.accessories >li.row-fluid {
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}
#photoGallery > .carousel-footer {
    text-align: center;
    margin-top: 1em;
}
#galleryLargeModal .lightbox-content {
    padding-bottom: 5em;
}
#galleryLargeModal .lightbox-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
#galleryLargeModal .lightbox-dialog {
    position: relative;
}
#productVideo {
    margin-top: 1em;
    margin-left: 0;
}

@media (max-width: 767px) {
	.support-info-block .nav.nav-tabs {
		font-size: 70%;
		font-weight: bold;
	}
	.photos-block {
		margin-bottom: 10px;
	}
}

@media (max-width: 1203px) {
	#docsoft section > div.pull-left {
    	padding: 0;
	}
	#docsoft section.software > div.pull-left {
   		padding: 0 0.25em;
	}
}

@media (max-width: 1259px) {
	#photos-block {
		margin-left: 2.127659574468085%;
	}
}